@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&family=Playfair+Display:wght@700&family=Source+Code+Pro:wght@700&family=Bebas+Neue&family=Caveat:wght@700&family=Press+Start+2P&family=Pacifico&family=Montserrat:wght@700&family=Lobster&family=Outfit:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-input-placeholder {
  transition: opacity 0.5s;
}

::-moz-placeholder {
  transition: opacity 0.5s;
}

:-ms-input-placeholder {
  transition: opacity 0.5s;
}

.fade::-webkit-input-placeholder {
  opacity: 0;
}

.fade::-moz-placeholder {
  opacity: 0;
}

.fade:-ms-input-placeholder {
  opacity: 0;
}

/* Make entire date input clickable by stretching the native picker indicator */
input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
